.main{
    background: #f5f5f5;
    .title{
        font-size: 22px;
        font-weight: 200;
        line-height: 58px;
        color: #333;
    }
    .tit-ul{
        margin: 0;
        padding-top: 16px;
        font-size: 16px;
        .tit-li{
         float: left;
         margin-left: 30px;
         cursor: pointer;
        }
    }
    .tit{
        position: relative;
        .tabs{
         position: absolute;
         top: 0;
         right: 0;
        }
    }
    .styl-left{
        float: left;
        width: 234px;
        li{
            margin-bottom: 14px;
        }
    }
    .styl-right{
        float: right;
        width: 978px;
        ul{ 
            margin-left: -14px;
            >li{
                height: 260px;
                padding: 20px 0;
                position: relative;
                z-index: 1;
                float: left;
                width: 234px;
                margin-left: 14px;
                margin-bottom: 14px;
                background: #fff;
               /*  -webkit-transition: all .2s linear;
                transition: all .2s linear; */
                div{
                    width: 160px;
                    height: 160px;
                    margin: 0 auto 18px;
                    img{ 
                        width: 160px;
                        height: 160px;

                    }
                }
                h3{
                    margin: 0 10px 2px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #333;
                }
            }
        }
    }
    .xiao{
        >h1{
            color: #333333;
            font-size: 22px;
            font-weight: 200;
            line-height: 58px;
            display: block;
            position: relative;
            >div{
                position: absolute;
                right: 0;
                top: 10px;
                span{
                    display: inline-block;
                    width: 24px;
                    height: 16px;
                    padding: 3px 5px;
                    margin-left: -1px;
                    border: 1px solid #e0e0e0;
                    line-height: 16px;
                    -webkit-transition: color .5s;
                    transition: color .5s;
                    color: #b0b0b0;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
        .xiao1{
            width: 234px;
            height: 340-54px;
            background: #F1eded;
            
            padding-top: 54px;
            float: left;

            >div:nth-child(1){
            color: #ef3a3b;
            }
            >img{
                margin: 25px 0;

            }

        }
        .swiper{
            float: right;
           .swiper-wrapper{
               height: 340px;
              
               .swiper-slide{
                   border-top: 1px solid #ffac13;
                   margin-left: 14px;
                   width: 234px;
                   float: left;
                   background: rgba(0,0,0,.02);
                   a{ 
                       display: block;
                       padding-top: 39px;
                       height: 300px;
                       .content{
                        h3{margin: 0 20px 3px;
                            font-size: 14px;
                            font-weight: 400;
                            text-overflow: ellipsis;
                            color: #212121;
                            overflow: hidden;
                            white-space: nowrap;

                        }   
                        .spe{
                            height: 18px;
                            margin: 0 20px 12px;
                            font-size: 12px;
                            color: #b0b0b0;
                            overflow: hidden;
                            white-space: nowrap;
   
                        }
                        .price{
                            color: #ff6709;
                            del{
                                color: #b0b0b0;
                            }
                        }
                        >.etam{
                        margin: 0 auto 22px;
                        img{
                            width: 160px;
                            height: 160px;
                        }
                    }
                }}
                   
               }
           }

        }
    }
    .note9,.redmi,.mihome,.pot,.life,.life2,.pen{
        height: 120px;
        margin: 22px 0;
        overflow: hidden;
    }
    .phone{
        .phone-tit{  
            position: relative;
            
            >div{
                position: absolute;
                top: 0;
                right: 0;
                a{
                font-size: 16px;
                line-height: 58px;
                color: #424242;
                transition: color .4s;
                &:hover{
                    color: #ff6709;
                    span{
                       
                        color: #ff6709;
                    }
                }
                span{
                    margin-left: 8px;
                    color: #b0b0b0;
                    font-size: 22px;
                    vertical-align: middle;
                    transition: color .4s;
                }
            }
            }
        }
        .phone-main{
            .phone-left{
                float: left;
                width: 234px;
                height: 628px;
                margin-bottom: 14px;
            }
            .phone-right{
                float: right;
                width: 978px;
                ul{ 
                    margin-left: -14px;
                    >li{
                        height: 260px;
                        padding: 20px 0;
                        position: relative;
                        z-index: 1;
                        float: left;
                        width: 234px;
                        margin-left: 14px;
                        margin-bottom: 14px;
                        background: #fff;
                       /*  -webkit-transition: all .2s linear;
                        transition: all .2s linear; */
                        div{
                            width: 160px;
                            height: 160px;
                            margin: 0 auto 18px;
                            img{ 
                                width: 160px;
                                height: 160px;
    
                            }
                        }
                        h3{
                            margin: 0 10px 2px;
                            font-size: 14px;
                            font-weight: 400;
                            color: #333;
                        }
                    }
                }
                
            }
        }
     
    }   
    .hot{
        .tit{  
            position: relative;
            
            >div{
                position: absolute;
                top: 0;
                right: 0;
                a{
                font-size: 16px;
                line-height: 58px;
                color: #424242;
                transition: color .4s;
                &:hover{
                    color: #ff6709;
                    span{
                       
                        color: #ff6709;
                    }
                }
                span{
                    margin-left: 8px;
                    color: #b0b0b0;
                    font-size: 22px;
                    vertical-align: middle;
                    transition: color .4s;
                }
            }
           }   
        }    
    }
}