.main {
  background: #f5f5f5;
  /* 小米闪购 */
}
.main .title {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.main .tit-ul {
  margin: 0;
  padding-top: 16px;
  font-size: 16px;
}
.main .tit-ul .tit-li {
  float: left;
  margin-left: 30px;
  cursor: pointer;
}
.main .tit-ul .show {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}
.main .tit {
  position: relative;
}
.main .tit .tabs {
  position: absolute;
  top: 0;
  right: 0;
}
.main .styl-left {
  float: left;
  width: 234px;
}
.main .styl-left li {
  margin-bottom: 14px;
  transition: all 0.2s;
}
.main .styl-left li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.main .tv,
.main .light,
.main .ear,
.main .hot,
.main .rim {
  position: relative;
}
.main .show {
  z-index: 100;
}
.main .styl-right {
  float: right;
  width: 978px;
  position: absolute;
  top: 58px;
  right: 0;
}
.main .styl-right ul {
  margin-left: -14px;
}
.main .styl-right ul > li {
  height: 260px;
  padding: 20px 0;
  position: relative;
  float: left;
  width: 234px;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  transition: all 0.2s;
}
.main .styl-right ul > li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.main .styl-right ul > li div {
  width: 160px;
  height: 160px;
  margin: 0 auto 18px;
}
.main .styl-right ul > li div img {
  width: 160px;
  height: 160px;
}
.main .styl-right ul > li h3 {
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.main .styl-right ul > .s-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 0;
  height: 300px;
  background: transparent;
  transition: none;
}
.main .styl-right ul > .s-two:hover {
  box-shadow: none;
  transform: none;
}
.main .styl-right ul > .s-two > div {
  width: 234px;
  height: 143px;
  transition: all 0.2s;
  margin: 0;
  background: #ffffff;
}
.main .styl-right ul > .s-two > div:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.main .styl-right ul > .s-two .s-1 .s-10 {
  float: left;
  width: 125px;
  height: 70px;
}
.main .styl-right ul > .s-two .s-1 .s-10 p:nth-child(1) {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  color: #333333;
  padding: 40px 0 0 30px;
  text-align: left;
}
.main .styl-right ul > .s-two .s-1 .s-11 {
  float: right;
  width: 80px;
  height: 80px;
  padding: 35px 20px 0 0;
}
.main .styl-right ul > .s-two .s-1 .s-11 img {
  width: 80px;
  height: 80px;
}
.main .styl-right ul > .s-two .s-2 {
  height: 93px;
  padding-top: 50px;
}
.main .styl-right ul > .s-two .s-2 .s-20 {
  float: left;
  margin-left: 30px;
  width: 100px;
  text-align: left;
  font-size: 18px;
}
.main .styl-right ul > .s-two .s-2 .s-20 span {
  font-size: 12px;
  color: #757575;
}
.main .styl-right ul > .s-two .s-2 .s-21 {
  width: 50px;
  float: right;
  margin-right: 30px;
  font-size: 48px;
  font-weight: 300;
  margin-top: -15px;
  color: #ff6709;
}
.main .xiao > h1 {
  color: #333333;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  display: block;
  position: relative;
}
.main .xiao > h1 > div {
  position: absolute;
  right: 0;
  top: 10px;
}
.main .xiao > h1 > div span {
  display: inline-block;
  width: 24px;
  height: 16px;
  padding: 3px 5px;
  margin-left: -1px;
  border: 1px solid #e0e0e0;
  line-height: 16px;
  transition: color 0.5s;
  color: #b0b0b0;
  text-align: center;
  cursor: pointer;
}
.main .xiao > h1 > div span:hover {
  color: #ff6709;
}
.main .xiao .xiao1 {
  width: 234px;
  height: 286px;
  background: #F1eded;
  padding-top: 54px;
  float: left;
}
.main .xiao .xiao1 > div:nth-child(1) {
  font-size: 21px;
  color: #ef3a3b;
  padding-top: 15px;
}
.main .xiao .xiao1 .desc {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
}
.main .xiao .xiao1 > img {
  margin: 25px 0;
}
.main .xiao .xiao1 > div:nth-child(4) {
  width: 168px;
  margin: 28px auto 0;
}
.main .xiao .xiao1 > div:nth-child(4) span {
  width: 46px;
  height: 46px;
  background: #605751;
  color: #fff;
  font-size: 24px;
  line-height: 46px;
  float: left;
}
.main .xiao .xiao1 > div:nth-child(4) i {
  width: 15px;
  float: left;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
  font-style: normal;
}
.main .xiao .swiper {
  float: right;
  width: 992px;
  overflow: hidden;
}
.main .xiao .swiper .swiper-wrapper {
  width: 3000px;
  height: 340px;
}
.main .xiao .swiper .swiper-wrapper .swiper-slide {
  border-top: 1px solid #ffac13;
  margin-left: 14px;
  width: 234px;
  float: left;
  background: rgba(0, 0, 0, 0.02);
}
.main .xiao .swiper .swiper-wrapper .swiper-slide a {
  display: block;
  padding-top: 39px;
  height: 300px;
}
.main .xiao .swiper .swiper-wrapper .swiper-slide a .content h3 {
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
}
.main .xiao .swiper .swiper-wrapper .swiper-slide a .content .spe {
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}
.main .xiao .swiper .swiper-wrapper .swiper-slide a .content .price {
  color: #ff6709;
}
.main .xiao .swiper .swiper-wrapper .swiper-slide a .content .price del {
  color: #b0b0b0;
}
.main .xiao .swiper .swiper-wrapper .swiper-slide a .content > .etam {
  margin: 0 auto 22px;
}
.main .xiao .swiper .swiper-wrapper .swiper-slide a .content > .etam img {
  width: 160px;
  height: 160px;
}
.main .note9,
.main .redmi,
.main .mihome,
.main .pot,
.main .life,
.main .life2,
.main .pen {
  height: 120px;
  margin: 22px 0;
  overflow: hidden;
}
.main .phone .phone-tit {
  position: relative;
}
.main .phone .phone-tit > div {
  position: absolute;
  top: 0;
  right: 0;
}
.main .phone .phone-tit > div a {
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  transition: color 0.4s;
}
.main .phone .phone-tit > div a:hover {
  color: #ff6709;
}
.main .phone .phone-tit > div a:hover span {
  color: #ff6709;
}
.main .phone .phone-tit > div a span {
  margin-left: 8px;
  color: #b0b0b0;
  font-size: 22px;
  vertical-align: middle;
  transition: color 0.4s;
}
.main .phone .phone-main .phone-left {
  float: left;
  width: 234px;
  transition: all 0.2s;
}
.main .phone .phone-main .phone-left:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.main .phone .phone-main .phone-right {
  float: right;
  width: 978px;
}
.main .phone .phone-main .phone-right > ul {
  margin-left: -14px;
}
.main .phone .phone-main .phone-right > ul > li {
  height: 260px;
  padding: 20px 0;
  position: relative;
  z-index: 1;
  float: left;
  width: 234px;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  transition: all 0.2s;
}
.main .phone .phone-main .phone-right > ul > li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.main .phone .phone-main .phone-right > ul > li div {
  width: 160px;
  height: 160px;
  margin: 0 auto 18px;
}
.main .phone .phone-main .phone-right > ul > li div img {
  width: 160px;
  height: 160px;
}
.main .phone .phone-main .phone-right > ul > li h3 {
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.main .hot .tit {
  position: relative;
}
.main .hot .tit > div {
  position: absolute;
  top: 0;
  right: 0;
}
.main .hot .tit > div a {
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  transition: color 0.4s;
}
.main .hot .tit > div a:hover {
  color: #ff6709;
}
.main .hot .tit > div a:hover span {
  color: #ff6709;
}
.main .hot .tit > div a span {
  margin-left: 8px;
  color: #b0b0b0;
  font-size: 22px;
  vertical-align: middle;
  transition: color 0.4s;
}
.main .video {
  padding-bottom: 12px;
}
.main .video ul li {
  float: left;
  width: 296px;
  height: 285px;
  margin-right: 14px;
  margin-bottom: 14px;
  text-align: center;
  background: #fff;
  transition: all 0.2s linear;
}
.main .video ul li:hover {
  z-index: 2;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.main .video ul li div {
  margin-bottom: 28px;
}
.main .video ul li h3 {
  margin: 0 14px 6px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #333;
}
.main .video ul li p {
  font-size: 12px;
  color: #b0b0b0;
}
/* 侧边悬浮栏 */
.floater {
  box-sizing: border-box;
  position: fixed;
  bottom: 70px;
  right: 0;
  z-index: 99;
}
.floater a {
  color: #757575 !important;
}
.floater .desc {
  display: block;
  width: 82px;
  margin: 14px auto 0;
  text-align: center;
}
.floater .app-down {
  margin-top: 14px;
}
.floater .app {
  width: 84px;
  height: 92px;
  background: #ffffff;
  position: relative;
  border: 1px solid #f5f5f5;
}
.floater .app .bag-img {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto  8px;
  padding-top: 18px;
}
.floater .app:hover p {
  color: #ff6700;
}
.floater .app .bag {
  position: absolute;
  top: 0;
  right: 100px;
  padding: 14px;
  display: none;
  margin: 6px auto;
  background: #ffffff;
}
.floater .app .bag img {
  width: 100px;
  height: 100px;
}
