nav {
  width: 100%;
  height: 40px;
  background: #333333;
  line-height: 40px;
  font-size: 12px;
}
nav a {
  color: #b0b0b0;
  display: inline-block;
}
nav a:hover {
  color: #fff;
}
nav span {
  color: #424242;
  margin: 0 3.6px;
}
nav .container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
nav .container {
  padding-right: 0px;
  padding-left: 0px;
}
nav .container .left {
  float: left;
}
nav .container .left .tri {
  position: relative;
}
nav .container .left .tri div {
  font-size: 14px;
  position: absolute;
  top: 40px;
  left: -40px;
  background: white;
  z-index: 2;
  box-shadow: 0 1px 5px #aaa;
  width: 124px;
  color: #333;
  height: 0;
  transition: height 0.3s;
  overflow: hidden;
}
nav .container .left .tri div img {
  width: 90px;
  height: 90px;
  margin: 18px 17px 0;
}
nav .container .left .tri::after {
  content: "";
  display: none;
  width: 0;
  height: 0;
  margin-left: -8px;
  border: white 8px solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  top: 24px;
  left: 50%;
}
nav .container .left .tri:hover div {
  height: 148px;
}
nav .container .left .tri:hover::after {
  display: block;
}
nav .container .load {
  float: right;
}
nav .container .load a:nth-child(odd) {
  padding: 0 5px;
}
nav .container .load a:nth-child(5) {
  padding: 0 10px;
}
nav .container .load span {
  margin: 0;
}
nav .container .shopcar {
  float: right;
  width: 120px;
  margin-left: 15px;
  background: #424242;
  position: relative;
  height: 40px;
}
nav .container .shopcar div {
  position: absolute;
  top: 40px;
  right: 0;
  height: 0;
  width: 316px;
  background-color: white;
  transition: height 0.3s linear;
  overflow: hidden;
  box-shadow: 0 1px 5px #aaa;
}
nav .container .shopcar div p {
  padding: 20px 0 20px;
}
nav .container .shopcar:hover div {
  height: 100px;
}
.head a {
  color: #333333;
}
.head .head-logo {
  float: left;
}
.head .head-logo > a {
  width: 55px;
  height: 55px;
  display: block;
  position: relative;
  margin-top: 22px;
  overflow: hidden;
  margin-right: 179px;
}
.head .head-logo > a:hover .logo-logo {
  right: -55px;
}
.head .head-logo .logo-logo {
  width: 110px;
  height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  transition: right linear 0.2s;
}
.head .head-logo .logo-logo > div {
  width: 55px;
  height: 55px;
  float: left;
}
.head .head-logo .logo-logo .logo-left {
  background: url(../img/mi-home.png) no-repeat #ff6700 50% 50%;
}
.head .head-logo .logo-logo .logo-right {
  background: url(../img/mi-logo.png) no-repeat #ff6700 50% 50%;
}
.head .head-nav {
  float: left;
}
.head .head-nav ul {
  margin: 12px 0  0;
  font-size: 16px;
  position: relative;
}
.head .head-nav ul > .head-navli {
  margin: 26px 0 38px;
  padding: 0 10px 0;
  float: left;
}
.head .head-nav ul > .head-navli > a:hover {
  color: #ff6700;
}
.head .head-nav ul > .head-navli > a:hover .headchild {
  display: block;
}
.head .head-nav ul > .head-navli > .headchild {
  z-index: 2;
  position: absolute;
  top: 62px;
  left: -234px;
  height: 0;
  transition: height 0.3s;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}
.head .head-nav ul > .head-navli > .headchild .container {
  padding-top: 20px;
}
.head .head-nav ul > .head-navli > .headchild .container ul {
  display: flex;
  justify-content: left;
}
.head .head-nav ul > .head-navli > .headchild .container ul li {
  float: left;
  font-size: 12px;
  line-height: 18px;
  width: 204.33333333px;
}
.head .head-nav ul > .head-navli > .headchild .container ul li a div {
  border-right: 1px solid #b0b0b0;
}
.head .head-nav ul > .head-navli > .headchild .container ul li a p {
  display: block;
  margin-top: 18px;
}
.head .head-nav ul > .head-navli > .headchild .container ul li a span {
  color: #ff6700;
}
.head .head-nav ul > .head-navli > .headchild .container ul li a:hover {
  color: #333333;
}
.head .head-nav ul > .head-navli > .headchild .container ul li a:hover span {
  color: #ff6700;
}
.head .head-nav ul > .head-navli:hover .headchild {
  height: 210px;
}
.head .head-search {
  float: right;
  margin: 25px  0;
}
.head .head-search > input {
  width: 223px;
  height: 48px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 48px;
  border: 1px solid #e0e0e0;
  outline: 0;
  float: left;
}
.head .head-search > button {
  width: 52px;
  height: 50px;
  padding: 1px 6px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  outline: 0;
  font-size: 18px;
  transition: all 0.3s;
  cursor: pointer;
}
.head .head-search > button:hover {
  color: #ffffff;
  background: #ff6700;
}
