.solidshow {
  font-size: 14px;
  color: #ffffff;
}
.solidshow .col2 {
  float: left;
  background: rgba(105, 101, 101, 0.6);
  width: 234px;
  color: #ffffff;
  position: relative;
}
.solidshow .col2 ul {
  padding: 20px 0;
}
.solidshow .col2 li > a {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
}
.solidshow .col2 li > .nav-two {
  position: absolute;
  top: 0;
  left: 234px;
  width: 795px;
  /*   */
  display: none;
  z-index: 2;
  height: 458px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}
.solidshow .col2 li > .nav-two ul {
  width: 248px;
  float: left;
  padding: 2px 0;
  line-height: 40px;
  color: #333;
}
.solidshow .col2 li > .nav-two ul li {
  height: 76px;
}
.solidshow .col2 li > .nav-two ul li:hover {
  color: #ff6709;
  background: #ffffff;
}
.solidshow .col2 li > .nav-two ul li a {
  padding: 18px 20px;
  display: block;
  cursor: pointer;
}
.solidshow .col2 li > .nav-two ul li img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.solidshow .col2 li:hover {
  background: #ff6709;
}
.solidshow .col2 li:hover .nav-two {
  display: block;
}
.solidshow .col2 li em {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 16px;
  line-height: 16px;
}
.solidshow .col8 {
  float: right;
}
.solidshow .kill {
  display: flex;
  justify-content: space-between;
  margin: 14px 0 26px;
}
.solidshow .kill1 {
  width: 234px;
  height: 170px;
  background: #5f5750;
}
.solidshow .kill1 li {
  float: left;
  width: 76px;
  height: 82px;
}
.solidshow .kill1 li a {
  margin-top: 18px;
  display: block;
  color: #ffffff;
}
.solidshow .kill1 li a img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 4px;
}
.solidshow .kill2 {
  float: right;
}
.solidshow .kill2 img {
  width: 316px;
  height: 170px;
}
